body {
margin: 0;
font-family: Arial, sans-serif;
background: #f0f0f0;
text-align: center;
}

header {
background: black;
color: white;
padding: 40px 10px;
}

h1 {
margin: 0;
}

section {
background: white;
margin: 20px;
padding: 20px;
border-radius: 10px;
}

ul {
list-style: none;
padding: 0;
}
ul li {
background: #ddd;
margin: 8px;
padding: 10px;
border-radius: 8px;
}

footer {
background: #222;
color: #fff;
padding: 10px;
margin-top: 20px;
}
.projects, .socials {
background: white;
margin: 20px;
padding: 20px;
border-radius: 10px;
}

.socials a {
text-decoration: none;
padding: 10px;
font-weight: bold;
}
.socials a {
text-decoration: none;
padding: 10px 15px;
margin: 5px;
display: inline-block;
border-radius: 6px;
background: black;
color: white;
font-weight: bold;
}

.socials a:hover {
background: gray;
}
.project-card {
background: white;
padding: 20px;
margin: 15px;
border-radius: 10px;
text-align: center;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-card a {
text-decoration: none;
display: inline-block;
margin-top: 10px;
padding: 8px 14px;
background: black;
color: white;
border-radius: 6px;
font-weight: bold;
}

.project-card a:hover {
background: gray;
}
@media (max-width : 600 px){
  section{
    margin : 10px;
    padding :15px
  }
  .project-card{
    margin : 10px 0 ;
  }
  header h1 {
    font-size : 22px;
  }
  header p {
    font-size :14px;
  }
}
