body {
margin: 0;
font-family: Arial, sans-serif;
background: #f0f0f0;
text-align: center;
}

header {
background: black;
color: white;
padding: 40px 10px;
}

h1 {
margin: 0;
}

section {
background: white;
margin: 20px;
padding: 20px;
border-radius: 10px;
}

ul {
list-style: none;
padding: 0;
}
ul li {
background: #ddd;
margin: 8px;
padding: 10px;
border-radius: 8px;
}

footer {
background: #222;
color: #fff;
padding: 10px;
margin-top: 20px;
}
